# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
logs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Tests and coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / IDEs
.vscode/
.idea/

# OS
.DS_Store
.atl/

# Environment variables and secrets
.env
.env.*

# Logs
*.log
